body {
  /* background-color: #4cbbe7; */
  padding-top: 10px;
  height: 100%;
  width: 100%;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  
  font-family: 'Space Mono', monospace;
  text-align: center;
}
strong {
  color: #eca278;
}
.title {
  color: #eca278;
  font-weight: 1000;
  font-size: xx-large;
}
h1 {
  display: inline-block;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(0.25turn, #FBAB7E 0%, #F7CE68 100%,  rgba(56,2,155,0));
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0)); */
  border-image-slice: 1;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
  padding: 10px;
} 

.general-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* BACKGROUNDS */
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #FBAB7E, #F7CE68);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* PADDINGS */
.pt-1 {
  padding-top: 10px !important;
}

/* MARGINS */
.mg-3 {
  margin-top: 30px !important;
}

.formRadio{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
    padding: 5px 20px 5px 20px;
    overflow-x: hidden;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    /* margin-bottom: 25px; */
    margin-top: 10px;
  }
  .formRadio input[type="radio"]{
    display: none;
  }
  .formRadio input[type="radio"]:hover + label{
    background-color: #11c3cf;
  }
  .formRadio input[type="radio"] + label {
    border-radius: 15px;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-size: 22px;
  }
  .formRadio input[type="radio"]:checked + label {
    background-color: #11c3cf;
    /* border-color: var(--main-color); */
  }
  
  .radioText input[type="radio"] + label {
    padding: 5px 5px 5px 5px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    height: auto;
    width: auto;
    font-size: 17px;
    display: block;
  }

  .drop-zone {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #ecf0f1;
    padding: 10px;
    min-height: 40px;
  }

  .drop-zone-initial {
    /* width: 50%; */
    margin: auto;
    margin-bottom: 1rem;
    padding: 10px;
    min-height: 40px;
  }

  .drag-el {
    background-color: #fdc571;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    margin: 2px;
  }

  .right{
    background-color: rgb(92, 197, 71) !important;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(44, 230, 28, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .wrong{
    background-color: tomato !important;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  /* Quita el margin bottom del final para que quede simetrico con el margin-top */
  .drag-el:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .level2_onclick {
    border: "4px solid blue";
  }
  /* --------------------------------------------- */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .overlay_gap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    max-height: 800px;
    overflow-y: auto;
  }
  
  .popup h2 {
    margin-top: 0;
    padding: inherit;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .content {
    padding: inherit;
    max-height: 30%;
    overflow: auto;
  }
  .popup .close {
    position: absolute;
    top: 0px;
    right: 20px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }
  /* .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  } */